/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    color: #d63031;
    margin-top: 0px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.vizitka {
    width: 550px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    position: relative;
    margin: 150px auto;
    box-shadow: 3px 3px 10px grey;
}

.vizitka a{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.twitter {
    background-color: #1da1f2;
    color: white;
    margin-bottom: 5px;

}

.twitter:hover { 
    background-color: #0b7bc1;
    color: white;
}

.facebook {
    background-color: #3b5998;
    color: white;

}

.facebook:hover {
    background-color: #2b406e;
    color: white;
}

.foto {
    width: 150px;
    border-radius: 50%;
    border: solid white 3px;
    position: absolute;
    right: -75px;
    top: -75px;
    box-shadow: 3px 3px 10px grey;


}
